:root {
  --font-primary: 'Chivo', sans-serif;
  --color-bg-primary: hsl(224.2, 34.5%, 10.8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  border: none;
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: var(--color-bg-primary);
  font-family: var(--font-primary);
}

.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  background: url(../assets/mobile/image-host.jpg) no-repeat top center/contain;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: hsla(224, 35%, 11%, 0.9);
  filter: saturate(2);
  mix-blend-mode: multiply;
}

main {
  position: relative;
  z-index: 2;
  max-width: 31.25rem;
  padding: 62px 24px 0;
}

.logo {
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0px 4px 4px hsla(0, 0%, 0%, 0.3));
}

.text {
  margin-top: 57px;
  text-align: center;
}

.text h1 {
  margin-bottom: 16px;
  margin-top: 0;
  font-size: 1.625rem;
  font-weight: 400;
  text-transform: uppercase;
  color: hsl(157.4, 74.5%, 61.6%);
  line-height: 2.375rem;
}

.text h1 span {
  color: hsl(0, 0%, 100%);
}

.text p {
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(224.6, 40.2%, 82.9%);
  line-height: 1.5625rem;
}

.podcast-providers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
  margin-top: 33px;
}

.podcast-providers a {
  display: flex;
  align-items: center;
}

.podcast-providers a,
.podcast-providers img {
  max-height: 17px;
  filter: saturate(1.5);
  opacity: 0.75;
}

.podcast-providers a:nth-of-type(3) img {
  height: 0.6875rem;
}

form {
  display: flex;
  flex-direction: column;
  position: relative;
}

input {
  width: 100%;
  height: 2.875rem;
  margin-bottom: 16px;
  padding-left: 32px;
  border-radius: 28px;
  line-height: 1.75rem;
  font-size: 0.875rem;
  font-weight: 700;
  background: hsl(224.5, 26.1%, 23.3%);
  color: hsl(0, 0%, 100%);
  border: 1px solid transparent;
}

input::placeholder {
  color: hsl(0, 0%, 100%);
  opacity: 0.5;
}

button {
  width: 100%;
  height: 2.875rem;
  border-radius: 28px;
  background: hsl(157.4, 74.5%, 61.6%);
  font-size: 0.875rem;
  font-weight: 700;
  color: hsl(224.2, 34.5%, 10.8%);
  box-shadow: 0px 25px 20px -20px hsla(157.4, 74.5%, 61.6%, 0.5);
  line-height: 1.75rem;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

@media (hover: hover) {
  button:hover {
    background-color: hsl(157.1, 100%, 85.1%);
  }
}

input.error {
  border: 1px solid hsl(0, 95.9%, 61.4%);
}

form span,
form p {
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.875rem;
  position: absolute;
  left: 32px;
  top: -20px;
}

form span {
  color: hsl(0, 95.9%, 61.4%);
}

form p {
  color: hsl(157.4, 74.5%, 61.6%);
}


@media (min-width: 48em) {

  .wrapper {
    background: url(../assets/desktop/bg-pattern-dots.svg) no-repeat bottom 0 left 30px/232px 104px, url(../assets/tablet/image-host.jpg) no-repeat top right;
    padding-bottom: 105px;
  }

  main {
    margin-right: auto;
    padding: 50px 39px 0;
  }

  .overlay {
    display: none;
  }

  .logo {
    margin: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 152px;
    margin-bottom: 153px;
    width: 39.6875rem;
    height: 31.8125rem;
    background: var(--color-bg-primary);
  }

  .text {
    padding-top: 93px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .text h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    margin-top: 0;
    margin-bottom: 31px;
  }

  .text p {
    max-width: 27.8125rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  form {
    position: relative;
    margin-bottom: 64px;
  }

  input {
    margin-bottom: 0;
    width: 26.6875rem;
    height: 3.5rem;
  }

  button {
    position: absolute;
    top: 0.3125rem;
    right: 13.3125rem;
    height: 2.875rem;
    width: 10.125rem;
  }

  .podcast-providers {
    justify-content: flex-start;
    margin: 0;
    order: 4
  }

  .podcast-providers a+a {
    margin-left: 40px;
  }

  .podcast-providers a,
  .podcast-providers img {
    max-height: 1.8125rem;
  }

  .podcast-providers a:nth-of-type(3) img {
    height: 1.125rem;
  }

  form span,
  form p {
    top: unset;
    left: 2rem;
    bottom: -1.25rem;
  }
}

@media (min-width: 90em) {

  .wrapper {
    background: url(../assets/desktop/bg-pattern-dots.svg) no-repeat bottom right/232px 104px, url(../assets/desktop/image-host.jpg) no-repeat center right/888px 640px;
    justify-content: flex-start;
    min-height: unset;
    margin-top: 75px;
    margin-bottom: 75px;
    padding-bottom: 0;
    height: 46.875rem;
    max-width: 79.6875rem;
    margin-left: auto;
  }

  .logo {
    position: relative;
    top: -28px;
  }

  main {
    max-width: unset;
    padding: 0;
    margin: auto 0;
    max-height: 40rem;
  }

  .content-wrapper {
    margin-top: 76px;
    margin-bottom: 0;
    width: 45.1875rem;
  }

  .text {
    padding-top: 88px;
  }

  .text h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
    margin-bottom: 24px;
  }

  button {
    right: 18.8125rem;
  }

}